@model ErrorViewModel

<h1>Error: @Model.StatusCode</h1>
<h2>@Model.Message</h2>

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>