@inject ITutorialsRepository TutorialJSONRepository

@{
    var tutorials = TutorialJSONRepository.GetAllTutorials();
}

<div class="container">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Tutorials</h1>
    </div>
    
    @if (tutorials == null || !tutorials.Any())
    {    
        <h3>No tutorials available</h3>
    }
    else
    {
        <ul class="tutorial-list">
            @foreach (var tutorial in tutorials)
            {
                <li class="tutorial-item">
                    <h5 class="tutorial-title">@tutorial.Topic</h5>
                    <p class="tutorial-instruction">@tutorial.Instruction</p>
                </li>
            }
        </ul>
    }
</div>

<style>
    h3 {
        text-align: center;
    }

    body {
        margin-top: 20px;
    }

    .align-center {
        text-align: center;
    }

    .tutorial-list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        width: 50%;
    }

    .tutorial-item {
        text-align: center;
        padding: 15px 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    .tutorial-title {
        font-weight: bold;
        font-size: 1.5em;
    }

    .tutorial-instruction {
        font-size: 1.2em;
        color: #555;
    }
</style>