@inject IUserRepository userRepository


@model HairCareStore.Core.Models.User

<div class="container mt-4">
    <h2>My Info</h2>
    <img id="userAvatar" alt="User Avatar" class="img-thumbnail" width="150" height="150">
    
    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Name:</strong> @Model.Name</li>
        <li class="list-group-item"><strong>Surname:</strong> @Model.Surname</li>
        <li class="list-group-item"><strong>Email:</strong> @Model.Mail</li>
    </ul>
    
    <form asp-controller="Identity" asp-action="LogOut" method="get" class="mt-3">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
</div>

<script>
    var mail = '@Model.Mail';
    var avatarJpg = '/UserAvatars/' + mail + '.jpg';
    var avatarPng = '/UserAvatars/' + mail + '.png';

    var img = new Image();
    img.src = avatarJpg;
    img.onload = function () {
        document.getElementById("userAvatar").src = avatarJpg;
    };
    img.onerror = function () {
        document.getElementById("userAvatar").src = avatarPng;
    };
</script>
