@{
    var identityCookieValue = base.Context.Request.Cookies["Identity"];
}
@model HairCareStore.Core.Models.User

@if(!string.IsNullOrWhiteSpace(identityCookieValue)){
    <h1>You are logged in, @Model.Name!</h1>
}

<img src="@Url.Content("~/UserAvatars/" + Model.Mail + ".jpg")" 
     alt="User Avatar" class="img-thumbnail" width="150" height="150">

<h2>Я в спешке,are из-за этого просто сделал задание, но не в идеале</h2>

<form asp-controller="Identity" asp-action="LogOut" method="get">
    <button type="submit" class="btn btn-danger mt-3">Log Out</button>
</form>